/*
 * Custom Styles here.
 *
 * {@link https://vuepress.vuejs.org/zh/config/#index-styl}
 */

@import 'post.styl'; // 博客

.home .hero img
  max-width 450px!important

// vuepress-toc
.vuepress-toc
  max-height calc(100vh - 60px)!important // @vuepress/theme-blog Footer height

@media (min-width: 1120px) // 1300px
  .vuepress-toc
    display block!important

// cat
.cat-container
.cat-container #vuepress-cat
  right auto!important
  left 0

.cat-container #vuepress-cat
  bottom 40px!important // @vuepress/theme-blog Footer height

@media (max-width: $MQMobile)
  .cat-container #vuepress-cat
    bottom 80px!important // @vuepress/theme-blog Footer height