// 公共样式
// ================================================================================================

// 图片
.theme-default-content
  img
    display block
    margin 0 auto

// vuepress-plugin-cat
.cat-container,
.cat-container #vuepress-cat
  right 5rem !important // @vuepress/plugin-back-to-top width right
  max-height 160px

// 首页
// ------------------------------------------------------------------------------------------------
.home .hero img
  max-width 450px !important

// 笔记
// ------------------------------------------------------------------------------------------------
// 课程表格
.course-table
  font-size 14px
  th,
  td
    padding 0.4em 1em
  .vp-icon
    width 1.2em
    height 1.2em
