// 网易云课堂 高级前端开发工程师
// ================================================================================================
// 课程表格
.course-table-netease-study-senior-fe
  thead
    th:nth-of-type(1),
    th:nth-of-type(2)
      width 12em
    th:nth-of-type(3)
      width 3em
  tbody
    td:nth-of-type(1),
    td:nth-of-type(2)
      background #fff
    td:nth-last-of-type(1),
    td:nth-last-of-type(2)
      background inherit

// 前端基础预习课 居中布局
// ------------------------------------------------------------------------------------------------
.netease_senior-fe_introductory_center-align
  .parent
    background #ddd
  .child
    color #fff
    background #000
  // 水平居中
  .horizontal_demo
    &.parent
      margin 20px 40px
      height 4rem
    .child
      padding 0 1rem
      line-height 4rem
      font-size 2rem
    // inline-block + text-align
    &.inline-block_text-align
      &.parent
        text-align center
      .child
        display inline-block
    // table + margin
    &.table_margin
      .child
        display table
        margin 0 auto
    // absolute + transform
    &.absolute_transform
      &.parent
        position relative
      .child
        position absolute
        left 50%
        transform translateX(-50%)
    // flex + justify-content
    &.flex_justify-content
      &.parent
        display flex
        justify-content center
    // flex + margin
    &.flex_margin
      &.parent
        display flex
      .child
        margin 0 auto
  // 垂直居中
  .vertical_demo
    display table
    margin 0 auto
    .parent
      width 6rem
      height 8rem
    .child
      padding 0 1rem
      line-height 4rem
      font-size 2rem
    // table-cell + vertical-align
    .table-cell_vertical-align
      &.parent
        display table-cell
        vertical-align middle
    // absolute + transform
    .absolute_transform
      &.parent
        position relative
      .child
        position absolute
        top 50%
        transform translateY(-50%)
    // flex + align-items
    .flex_align-items
      &.parent
        display flex
        align-items center
  // 居中
  .center_demo
    &.parent
      margin 20px 40px
      width calc(100% - 80px)
      height 8rem
    .child
      padding 0 1rem
      line-height 4rem
      font-size 2rem
    // inline-block + text-align + table-cell + vertical-align
    &.inline-block_text-align_table-cell_vertical-align
      &.parent
        display table-cell
        text-align center
        vertical-align middle
        width 1% // (ﾉ゜д゜)ﾉ 问题 父元素 width % 不生效 且值越小越宽 且与子元素宽度成正比
      .child
        display inline-block
    // absolute + transform
    &.absolute_transform
      &.parent
        position relative
      .child
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
    // flex + justify-content + align-items
    &.flex_justify-content_align-items
      &.parent
        display flex
        justify-content center
        align-items center

// 前端基础预习课 多列布局
// ------------------------------------------------------------------------------------------------
.netease_senior-fe_introductory_layout
  .parent
    margin 20px 40px
    p
      margin 0
      font-size 2rem
      line-height 4rem
      color #fff
      background #000
    .right
      p
        background #ddd
  // 定宽 + 自适应
  .fixed_width_demo 
    // float + margin
    &.float_margin
      .left
        float left
        width 100px
      .right
        margin-left 120px
    // float + overflow
    &.float_overflow
      .left
        float left
        margin-right 20px
        width 100px
      .right
        overflow hidden
    // table
    &.table
      &.parent
        display table
        table-layout fixed
        width calc(100% - 80px)
      .left,
      .right
        display table-cell
      .left
        width 100px
      .right
        padding-left 20px
    // flex
    &.flex
      &.parent
        display flex
      .left
        width 100px
        margin-right 20px
      .right
        flex 1
  // 不定宽 + 自适应
  .changed_width_demo
    // float + overflow
    &.float_overflow
      .left
        float left
        margin-right 20px
      .right
        overflow hidden
    // table
    &.table
      &.parent
        display table
        width calc(100% - 80px)
      .left,
      .right
        display table-cell
      .left
        width 0.1% // 极小值
      .right
        padding-left 20px
    // flex
    &.flex
      &.parent
        display flex
      .left
        margin-right 20px
      .right
        flex 1
  // 等宽
  .equal_width_demo
    &.parent,
    .parent
      margin-left 0
      margin-right 0
    // float
    &.float
      &.parent
        margin-left -20px
      &:after
        content ''
        display block
        clear both
      .column
        float left
        box-sizing border-box
        width 25%
        padding-left 20px
    // table
    &.table
      &.parent-fix
        margin-left -20px
      .parent
        display table
        table-layout fixed
        width 100%
      .column
        display table-cell
        padding-left 20px
    // flex
    &.flex
      &.parent
        display flex
      .column
        flex 1
        &+.column
          margin-left 20px
  // 等高
  .equal_height_demo
    .left
      background #000
    .right
      background #ddd
    p
      background transparent
    // table
    &.table
      &.parent
        display table
        table-layout fixed
        width calc(100% - 80px)
      .left,
      .right
        display table-cell
      .left
        border-right 20px solid transparent
        background-clip padding-box
        width 100px
    // flex
    &.flex
      &.parent
        display flex
      .left
        width 100px
        margin-right 20px
      .right
        flex 1
    // float 伪等高
    &.float
      &.parent
        overflow hidden
      .left,
      .right
        padding-bottom 9999px // 极大值
        margin-bottom -9999px // 极大值
      .left
        float left
        width 100px
        margin-right 20px
      .right
        overflow hidden
