<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>vue demo</title>
  <script src="vue.js"></script>
</head>
<body>
  <!-- 1. 安装与部署 -->

  <!-- 2. 创建第一个 vue 应用 -->
  <div id="app2">{{ message }} {{ name }}</div>
  <script>
    let app2 = new Vue({
      el: '#app2',
      data: {
        message: 'Hello world',
        name: 'Vue',
      },
    });
  </script>

  <!-- 3. 数据与方法 -->
  <div id="app3">
    {{ a }} 
    | {{ b }} <!-- [Vue warn] -->
    | {{ c }} 
    | {{ d }}
  </div>
  <script>
    let data = { 
      a: 1,
      c: 1,
      d: 1,
    };
    // Object.freeze(data); // TypeError
    let vm3 = new Vue({
      el: '#app3',
      data: data,
    });
    console.log(data.a === vm3.a); // true
    // 设置实例属性、数据源属性会影响到原始数据
    vm3.a = 2;
    console.log(data.a); // 2
    data.a = 3;
    console.log(vm3.a); // 3
    
    // 只有当实例创建时 data 中的属性才是响应式的
    vm3.b = 'vm3.b'; // [Vue warn] vm3.b
    data.b = 'data.b'; // [Vue warn]
    console.log(vm3.b); // vm3.b
    console.log(data.b); // data.b
    
    // Object.freeze() 阻止对象属性变化
    // Object.freeze(data);
    vm3.c = 2;
    
    // 实例属性、方法 前缀 $
    // 数据
    console.log(vm3.$data === data); // true
    // 元素
    console.log(vm3.$el === document.getElementById('app3')); // true
    // 观察
    vm3.$watch('d', function (newVal, oldVal) {
      console.log(`$watch d, newVal: ${newVal}, oldVal: ${oldVal}`); // $watch d, newVal: 2, oldVal: 1
    });
    vm3.$data.d = 2;
  </script>
  
  <!-- 4. 生命周期 -->
  <div id="app4">{{ a }}</div>
  <script>
    let vm4 = new Vue({
      el: '#app4',
      data: {
        a: 1,
      },
      beforeCreate: function () {
        console.log('beforeCreate');
      },
      created: function () {
        console.log('created');
      },
      beforeMount: function () {
        console.log('beforeMount');
      },
      mounted: function () {
        console.log('mounted');
      },
      beforeUpdate: function () {
        console.log('beforeUpdate');
      },
      updated: function () {
        console.log('updated');
      },
      beforeDestroy: function () {
        console.log('beforeDestroy');
      },
      destroyed: function () {
        console.log('destroyed');
      },
    });
    setTimeout(function () {
      vm4.a = 2;
    }, 2000);
  </script>
  
  <!-- 5. 模板语法-插值 -->
  <div id="app5">
    <p>{{ a }}</p>
    <p v-once>{{ a }}</p>
    <p>{{rawHTML}}</p>
    <p v-html="rawHTML"></p>
    <div v-bind:class=""></div>
    <p v-bind:class="red">red</p>
    <p>{{ number + 1 }}</p>
    <p>{{ ok ? 'YES' : 'NO' }}</p>
    <p>{{ message.split('').reverse().join('') }}</p>
  </div>
  <script>
    let vm5 = new Vue({
      el: '#app5',
      data: {
        a: 'hello vue',
        rawHTML: '<span style="color: red">red</span>',
        red: 'red',
        number: 1,
        ok: false,
        message: 'hello world',
      },
    });
    setTimeout(function () {
      vm5.$data.a = 'change';
    }, 2000);
  </script>
  <style>
    .red {
      color: red;
    }
  </style>

  <!-- 6. 模板语法 - 指令 -->
  <div id="app6">
    <p v-if="show">show</p>
    <p v-if="hide">hide</p>
    <p><a v-bind:href="url" target="_blank" rel="noopener noreferrer">Vue</a></p>
    <a><a v-bind:[attributename]="url" target="_blank" rel="noopener noreferrer">Vue</a></p>
    <div v-on:click="click1"><p v-on:click.stop="click2">click</p></div>
    <p><a :href="url" target="_blank" rel="noopener noreferrer">Vue</a></p>
    <div @click="click1"><p @click="click2">click</p></div>
  </div>
  <script>
    let vm6 = new Vue({
      el: '#app6',
      data: {
        show: true,
        hide: false,
        url: 'https://cn.vuejs.org/',
        attributename: 'href',
      },
      methods: {
        click1: function () {
          console.log('click1');
        },
        click2: function () {
          console.log('click2');
        },
      },
    });
  </script>
  
  <!-- 7. class 与 style 绑定 -->
  <div id="app7">
    <p :class="{ active: isActive }">class 绑定 对象语法1</p><!-- class="active" -->
    <p :class="classObj">class 绑定 对象语法1</p><!-- class="active text-danger" -->
    <p :class="[ activeClass, errorClass ]">class 绑定 数组语法1</p><!-- class="active text-danger" -->
    <p :class="[ { active: isActive }, errorClass ]">class 绑定 数组语法2</p><!-- class="active text-danger" -->
    <p :style="{ color: color, 'font-size': fontSize }">style 绑定 对象语法1</p><!--  color: rgb(255, 0, 0); font-size: 20px; -->
    <p :style="styleObj">style 绑定 对象语法2</p><!-- color: rgb(255, 0, 0); font-size: 20px; -->
    <p :style="[ styleObj, baseStyle ]">style 绑定 数组语法</p><!-- color: rgb(255, 0, 0); font-size: 20px; font-style: italic; -->
    <div :style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }">多重值</div><!-- display: flex; -->
  </div>
  <script>
    let vm7 = new Vue({
      el: '#app7',
      data: {
        isActive: true,
        classObj: {
          active: true,
          'text-danger': true,
        },
        activeClass: 'active',
        errorClass: 'text-danger',
        color: '#ff0000',
        fontSize: '20px',
        styleObj: {
          color: '#ff0000',
          'font-size': '20px',  
        },
        baseStyle: {
          fontStyle: 'italic',
        },
      },
    });
  </script>
  
  <!-- 8. 条件渲染 -->
  <div id="app8">
    <div v-if="type === 'A'">A</div>
    <div v-else-if="type === 'B'">B</div>
    <div v-else-if="type === 'C'">C</div>
    <div v-else>Not A/B/C</div><!-- Not A/B/C -->
    <div v-show="isShow">show</div><!-- display: none; -->
  </div>
  <script>
    let vm8 = new Vue({
      el: '#app8',
      data: {
        type: '',
        isShow: false,
      },
    });
  </script>
  
  <!-- 9. 列表渲染 -->
  <div id="app9">
    <ul>
      <li v-for="msg in msgs">{{msg.msg}}</li><!-- React, React, React -->
      <li v-for="(msg, index) of msgs" :key="index">{{index}}-{{msg.msg}}</li><!-- 0-React, 1-React, 2-ßReact -->
    </ul>
    <ul>
      <li v-for="value in object">{{value}}</li><!-- How to do lists in Vue, Jane Doe, 2016-04-10 -->
      <li v-for="(value, name, index) in object" :key="name">{{index}}-{{name}}-{{value}}</li><!-- 0-title-How to do lists in Vue, 1-author-Jane Doe, 2-publishedAt-2016-04-10 -->
    </ul>
  </div>
  <script>
    let vm9 = new Vue({
      el: '#app9',
      data: {
        msgs: [
          { msg: 'React' },
          { msg: 'React' },
          { msg: 'React' },
        ],
        object: {
          title: 'How to do lists in Vue',
          author: 'Jane Doe',
          publishedAt: '2016-04-10'
        },
      },
    });
  </script>
  
  <!-- 10. 事件绑定 -->
  <div id="app10">
    <button @click="count ++">计数 {{count}}</button>
    <button @click="greet($event)">greet</button>
  </div>
  <script>
    let vm10 = new Vue({
      el: '#app10',
      data: {
        count: 0,
      },
      methods: {
        greet: function (event) {
          console.log(`greet, count: ${this.count}, event:`, event);
        },
      },
    });
  </script>
  
  <!-- 11. 表单输入绑定 -->
  <div id="app11">
    <div>
      <input placeholder="text" v-model="text" />
      <p>text: {{text}}</p>
    </div>
    <div>
      <textarea placeholder="multiline text" v-model="multilineText"></textarea>
      <p>multiline text: {{multilineText}}</p>
    </div>
    <div>
      <label for="jack">
        Jack
        <input type="checkbox" id="jack" value="jack" v-model="names" />
      </label>
      <label for="john">
        John
        <input type="checkbox" id="john" value="john" v-model="names" />
      </label>
      <label for="mike">
        Mike
        <input type="checkbox" id="mike" value="mike" v-model="names" />
      </label>
      <p>names: {{names}}</p>
    </div>
    <div>
      <label for="one">
        One
        <input type="radio" id="one" value="one" v-model="radio" />
      </label>
      <br />
      <label for="two">
        Two
        <input type="radio" id="two" value="two" v-model="radio" />
      </label>
      <p>radio: {{radio}}</p>
    </div>
    <button type="button" @click="submit()">submit</button>
  </div>
  <script>
    let vm11 = new Vue({
      el: '#app11',
      data: {
        text: '',
        multilineText: '',
        names: [],
        radio: '',
      },
      methods: {
        submit: function () {
          console.log({
            text: this.text,
            multilineText: this.multilineText,
            names: this.names,
            radio: this.radio,
          });
        },
      },
    });
  </script>
</body>
</html>